<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>	

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>

<div class="container">
	
	<div class="col-md-8">
			<h3><%= title %></h3>
			<form action="/users/add" method="post" name="form1">

				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" value="<%= name %>" class="form-control"/>
				</div>
		
				<div class="form-group">
					<label for="age">Age</label>
					<input type="text" name="age" value="<%= age %>" class="form-control"/>
				</div>
		
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" name="email" value="<%= email %>" class="form-control"/>
				</div>
		
				<button type="submit" class="btn btn-default">Add</button>
			</form>
	</div>

</div>



<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
